@media only screen and (max-width: 1024px){
    body{
        font-size: 14px;
    }  
    #appui .TaxonomyReferenceNotes .HabitatNote,
    #appui .TaxonomyReferenceNotes .SpeciesCharacteristics{      
        font-size: 28px;
    }
    #appui_foot .institution .institution_name{
        font-size: 50px;
    }  
    #appui_foot .taxa_container .common{
        font-size: 30px;    
    }
    #appui_foot .taxa_container .gss{
        font-size: 25px;      
    }
}  
@media only screen and (min-width: 1025px){
    body{
        font-size: 14px;
    }  
    #appui .TaxonomyReferenceNotes .HabitatNote,
    #appui .TaxonomyReferenceNotes .SpeciesCharacteristics{      
        font-size: 38px;
    }
    #appui_foot .institution .institution_name{
        font-size: 80px;
    }  
    #appui_foot .taxa_container .common{
        font-size: 45px;    
    }
    #appui_foot .taxa_container .gss{
        font-size: 35px;      
    }
} 
    


html{
    overflow: auto;
}
html,
body {
    margin:0;
    padding:0;                                                              
    font-family: Cochin, Cochin LT, Verdona, Arial, Helvetica, sans-serif;  
    color: #000000;                
    height: 100%;
}   

#appui{
    position: absolute;
    overflow: hidden;                
    width: 100%;
    height: 100%;
}
#appui #main_image,
#appui #next_image{ 
    position: absolute;
    top: 0;
    left: 0;
}
#appui #next_image{
    z-index: 4;
}
#appui #main_image{
    z-index: 5;
}
 
#appui .TaxonomyReferenceNotes{
    position: absolute;
    z-index: 6; 
     
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
 
#appui .TaxonomyReferenceNotes .HabitatNote,
#appui .TaxonomyReferenceNotes .SpeciesCharacteristics{  
    position: absolute;    
    padding: 0 30px;
                          
    color: #FFF; 
    
    letter-spacing: 4px;
    line-height: 119%;
    text-shadow: 1px 1px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      0px 1px 0 #000,
      1px 0px 0 #000,
      0px -1px 0 #000,
      -1px 0px 0 #000,
      
      2px 1px 0 #000,
      -2px -1px 0 #000,
      2px -1px 0 #000,
      -2px 1px 0 #000,
      0px 2px 0 #000,
      2px 0px 0 #000,
      0px -2px 0 #000,
      -2px 0px 0 #000,          
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      1px 2px 0 #000,
      2px 1px 0 #000,
      1px -2px 0 #000,
      -2px 1px 0 #000,
      
      3px 3px 6px #000,      
      4px 4px 6px #000,      
      5px 5px 6px #000      
      ;
}    
#appui .TaxonomyReferenceNotes .HabitatNote{
    top: 30px;  
}
#appui .TaxonomyReferenceNotes .SpeciesCharacteristics{
    bottom: 30px;  
}


#appui_foot{          
    background: #000;
    background: -moz-linear-gradient(bottom, #000 0%, #111 50%, #333 90%, #555 100%);
    background: -webkit-gradient(left bottom, left top, color-stop(0%, #000), color-stop(50%, #111), color-stop(90%, #333), color-stop(100%, #555));
    background: -webkit-linear-gradient(bottom, #000 0%, #111 50%, #333 90%, #555 100%);
    background: -o-linear-gradient(bottom, #000 0%, #111 50%, #333 90%, #555 100%);
    background: -ms-linear-gradient(bottom, #000 0%, #111 50%, #333 90%, #555 100%);
    background: linear-gradient(to top, #000 0%, #111 50%, #333 90%, #555 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#000000', GradientType=0 );
    
    clear: both;
    overflow: visible;     
    
    color: #FFF;
    
    height: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#appui_foot{
    clear: both;
    overflow: hidden;    
}
#appui_foot .institution{
    clear: both;
    padding-top: 25px;
    padding-left: 25px;
    float: left;
}
#appui_foot .institution .institution_name{  
    padding-right: 25px;
    float: left;  
}
#appui_foot .institution .institution_image{ 
    float: left;  
}
#appui_foot .institution .institution_image img{
    height: 100px;
}   
#appui_foot .taxa,
#appui_foot .taxa2{
    position: absolute;
    text-align: right;    
    top: 0;
    right: 0;
    width: 100%;
    
    padding-top: 25px;
    padding-right: 25px;
}
      
.hideDiv { 
  display: none 
}